<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
<header>
  <div class="container">
    <a routerLink="/">QUIZZ</a>
    <nav>
      <ul>
        <li><a routerLink="/test1">Test1</a></li>
        <li><a routerLink="/test2">Test2</a></li>
        <li><a routerLink="/test3">Test3</a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>

